#                                                  Assignment 2
                                                  Name - Anuradha

Question 1

In [6]:
rows = 5
for k in range(0, rows):
    for i in range(0, k + 1):
        print("*", end=' ')
    print("\r")
    
for k in range(rows, 0, -1):
    for i in range(0, k - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Question 2

In [2]:
any = input("Write anything in the input box:")
print(any[::-1])

Write anything in the input box:Anuradha
ahdarunA